.box {
  background-color: #0a3f9e;
  border-radius: 8px;
  color: white;
}

hr {
  border-radius: 5px;
  border-width: 1px;
}

.weather-img svg {
  width: 150px;
}

@media (max-width: 424.8px) {
  .box {
    max-width: 300px;
  }

  .heading {
    flex-direction: column;
    align-items: center;
  }

  .weather-img svg {
  width: 100px;
}
}