.alert {
  position: fixed;
  padding: 12px 16px;
  border: 2px solid #1a1a1a;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.02);
  color: #ffffff;
  font-family: "Cairo", sans-serif;
  font-size: 24px;
  outline: none;
  transition: transform 0.5s ease-out;
  left: 5px;
  bottom: 15px;
  transform: translateX(0);
}

@starting-style {
  .alert {
    transform: translateX(-400px);
  }
}
